[Unit]
Description=Multiplayer DnD RPG

[Service]
Type=simple
User=dndgame
Group=dndgame
Restart=on-failure
Environment=MIX_ENV=prod "PORT=9977"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/dndgame/dndgame
ExecStart=/home/dndgame/dndgame/start.sh

[Install]
WantedBy=multi-user.target
