server {

    listen 80;
    listen [::]:80;
    server_name dndgame.brycedewitt.com;

    location / {
        proxy_pass https://localhost:1998;
    }

    location /socket {
        proxy_pass https://localhost:1998;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
