<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dndgame · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="col">
          <a class="navbar-brand" href="/">D&D Game</a>
        </div>
        <div class="col">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/characters">Characters</a>
            </li>
            <%= if @current_user do %>
              <li class="nav-item">
                <a class="btn btn-success" href="/worlds">Play!</a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col">
          <section class="container">
            <nav role="navigation">
              <ul>
                <%= if @current_user do %>
                  <p class="my-3">
                    <%= @current_user.email %>
                    <%= link("Logout", to: Routes.session_path(@conn, :delete),
                          method: :delete) %>
                  </p>
                <% else %>
                  <a href="/login">Login</a>
                  <a>or</a>
                  <div style="margin-bottom: 0px; text-align: left;">
                  <p><%= link "Register", to: Routes.user_path(@conn, :new) %></p>
                  </div>
                <% end %>
              </ul>
            </nav>
        </div>
      </nav>

      <div class="row">
        <div class="col">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
