<script>
 window.gameName = "<%= @gameName %>";
 window.playerName = "<%= @playerName %>";
</script>

<div class="row">
  <div class="column">
    <h1>Dndgame Game: <%= @gameName %></h1>
    <h3>Player Name: <%= @playerName %></h3>
    <div id="dndgame">
      React component loading...
    </div>
  </div>
</div>

<p>Link back to the main domain:
  <a href="http://cstransky.me/">cstransky.me</a>.<br>
</p>
