<div class="row">
  <div class="col-12">
    <h1><%= gettext "Welcome to D&D Game!" %></h1>
    <p>A fully playable web-based D&D app that lets you create characters, fight monsters, and explore an open world.</p>
    <p>Select a world location and fight weather-based monsters in world that changes in realtime</p>
    <%= if @current_user == nil do %>
      <h6> Please <a href="/login"><u>login</u></a> to begin.</h6>
    <% end %>
  </div>
</div>
